attrs                 
bcrypt               
beautifulsoup4        
blinker              
cattrs             
certifi               
charset-normalizer    
click                
dotenv             
faiss-cpu            
filelock              
Flask                
Flask-Cors           
Flask-SQLAlchemy     
frozendict           
fsspec                
huggingface-hub     
idna                  
itsdangerous          
Jinja2               
joblib                
MarkupSafe           
mpmath                
multitasking          
networkx              
numpy                 
packaging            
pandas                
passlib               
peewee                
pillow               
pip                  
platformdirs         
psycopg2-binary      
python-dateutil       
python-dotenv         
pytz                 
PyYAML                
regex                 
requests              
requests-cache        
safetensors           
scikit-learn          
scipy                 
sentence-transformers 
setuptools            
six                   
soupsieve            
SQLAlchemy            
sympy                 
threadpoolctl        
tokenizers          
torch                
torchaudio            
torchvision           
tqdm               
transformers         
typing_extensions     
tzdata               
url-normalize       
urllib3               
Werkzeug             
yfinance              