flask
flask-Cors
flask_sqlalchemy
psycopg2-binary
pandas
numpy
requests
passlib[bcrypt]
nltk
transformers
statsmodels
tensorflow
keras
xgboost
yfinance
python-dotenv
scikit-learn
bcrypt
sklearn
transformers
torchvision
psycopg2
